<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <noscript>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  </noscript>
  <script src="https://cdn.plot.ly/plotly-4.0.0.min.js" charset="utf-8"></script>
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% seo %}
</head>

<body>
  {% include navbar.html items=site.data.navigation %}

  <main>
    {{ content }}
  </main>

  <footer id="footer" class="noPrint">
    <div class="container footer-content">
      <p class="footer-copy">
        Made with <i class="fas fa-heart text-red"></i> by the <strong>CollectOSS</strong> community.
      </p>
      {% include navitems.html items=site.data.footernav class="footer-links" %}
    </div>
  </footer>
</body>

</html>